/* TO GET AN IDEA OF THE CSS YOU WILL LIKELY BE USING, SEE THE LISTS BELOW. */

        /* 
        
        Spacing 

            - padding (shorthand and/or specific properties like padding-bottom, etc.)

            - margin, (shorthand and/or specific properties like margin-top, etc.)

            - letter-spacing, word-spacing, line-height

            - width, max-width, min-width
            - height, max-height, min-height

        Typography 

            - font-family, font-size, font-style, font-weight

            - text-decoration, text-align

            - color

            - text-shadow, text-transform

        Box, Layout and Border 

            - border (shorthand and/or specific properties like border-top, border-bottom-radius, border-width, etc.)

            - box-shadow

            - display, float, align-items, align-content

            - grid-template-columns, grid-column-gap

            - transform

        Other

            - :nth()-child (to target specific child elements)

            - :focus, :hover, :active (to target link states)

            - @font-face or @import (to import typefaces)

        */


/* ------ START WRITING YOUR CODE BELOW ------ */
/* IMPORTED FONTS */

@font-face {
    font-family: "ultra";
    src: url('../fonts/serif/ultra-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'roboto';
    src: url(../fonts/sans-serif/roboto-regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserrat';
    src: url(../fonts/sans-serif/montserrat-regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}
/* GENERAL SETUP */

* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    margin: 1.5rem auto;
    width: 90%;
    min-width: 56.25rem;   
}
/* TYPOGRAPHY */

p {
    font-family: lato, Georgia;
}

h1, h2, h3, h4 {
    font-family: montserrat, Arial, Helvetica;
    letter-spacing: 0.0325rem;
}

h1 {
    font-size: 2.5rem;
    letter-spacing: .25rem;
    transform: rotate(-5deg);
}

.highlight {
    display: inline-block;
    font-family: roboto, montserrat;
    border: 1px solid black;
    padding: 1rem 1.5rem;
    border-radius: .5rem;
    border-top-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    color: rgb(255, 255, 255);
    background-color: #b1446d;
    box-shadow: 5px 5px 4px -1px #888;
}

/* LAYOUT */

header {
    padding: 1.5rem .5rem;
}

nav {
    margin-top: 2rem;
}

.main-section {
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-gap: 1.25rem;
}


article {
    grid-column: 1 / 2;
    grid-row: 1;
}

aside {
    grid-column: 2 / 3;
    grid-row: 1;
    border-left: 1px solid rgba(0, 0, 0, 0.644);
    padding: .75rem;
}

aside p {
    border-bottom: 1px solid #888;
    padding-bottom: .75;
}

.subsection {
    display: flex;
}


/* IMAGES AND FIGURES */

img {
    width: 100%;
}

figure {
    margin: 0px;
}

.article-image {
    width: 33%;
    float: left;
    margin-right: .75rem;
}
.subsection {
    margin: 1rem 0rem;
}
.subsection figure {
    margin: 0rem 0.25rem;
    background-color: #bdb8b8;
}
.subsection figure figcaption {
    padding: 0.5rem 0.5rem;
}

/* LINKS AND NAVIGATION */

a {
    text-decoration: none;
}

nav a {
    display: inline-block;
    padding: 1.25rem;
    font-size: 1.35rem;
    font-family: roboto, montserrat;
    color: #b1446d;
}

nav {
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
}